.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 15px;
}

.logo {
  margin-right: auto;
  margin-left: 8rem;
}

.navItems {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.navItem {
  margin: 0 10px;
  margin: 25px;
}

.button {
  margin-left: auto;
}

.button button {
  padding: 6px 14px;
  background-color: #fff;
  color: black;
  border-radius: 36px;
  border: 2px solid white;
  margin-right: 8rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button button:hover {
  background-color: #ffffff;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .logo {
    margin: 0;
    margin-left: 1rem;
  }

  .navItems {
    position: fixed;
    background-color: #1d1930;
    color: white;
    left: 0rem;
    width: 60%;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    height: 100%;
    top: 0rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    display: none;
    flex-direction: column;
    font-family: "Inter", sans-serif;
  }

  .navItem {
    margin: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    display: flex;
    padding-left: 2rem;
    width: 100%;
    margin-left: 0rem;
    flex-direction: column;
  }
  .navbar {
    position: fixed;
    background-color: #19191c;
    width: 100%;
    top: 0;
    margin-top: 0;
  }
  .button {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
}
