/* styles for the accordion */
.accordion {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* styles for the panel */
.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  display: none;
}

/* styles for the open panel */
.open {
  display: block;
}
