.thirddiv {
  display: flex;
  flex-direction: column;
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 20px;
  color: white;
  font-family: "Inter", sans-serif;

  .left {
    margin-right: auto;
    width: 10rem;
  }

  .right {
    margin-left: auto;
  }

  .heading {
    font-size: 40px;
    margin-bottom: 20px;
    width: 30rem;
  }

  .description {
    font-size: 20px;
    margin-bottom: 0px;
    width: 50rem;
  }
}
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 80px;
  font-family: "Inter", sans-serif;
}

.part {
  width: 200px;
  margin-left: 30px;
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 8px;
  }
}
.icon {
  margin-bottom: 15px;
}
.ShowBtn {
  background-color: white;
  padding: 8px;
  padding-left: 12px;
  font-size: 15px;
  color: black;
  font-family: "Inter", sans-serif;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .thirddiv {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    color: white;
    font-family: "Inter", sans-serif;
  }
  .right {
    margin-right: auto;
  }
  .left {
    width: 10rem;
  }
  .heading {
    font-size: 20px;
    margin-bottom: 20px;
    width: 30rem;
  }

  .description {
    font-size: 20px;
    margin-bottom: 0px;
    width: 50rem;
  }
}
